.Character {
  margin: 20px;
  padding: 15px;
  background: rgba(63, 85, 114, 0.1);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);

  table.char-info {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0px 0 15px 0 rgba(0, 0, 0, 0.2);
    background: rgba(63, 85, 114, 0.1);
    border-radius: 3px;

    .image {
      padding: 25px;
      width: 50%;
      height: 300px;
      text-align: center;

      img {
        max-width: 100%;
        max-height: 230px;
      }
    }

    td {
      padding: 10px;
    }

    & > tbody {
      & > tr:first-of-type {
        font-size: 20px;

        td {
          text-align: center;
        }
      }
    }

    .info {
      table {
        border-collapse: collapse;
        width: 100%;

        td {
          border-bottom: 1px solid #334455;
        }
      }
    }
  }
}
