.News {
  margin: 20px;
  background: rgba(63, 85, 114, 0.1);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);

  & article.body {
    padding: 15px;
    overflow: hidden;

    & h1.title {
      text-align: center;
      margin: 0 0 15px 0;
    }

    & article.content {
      padding: 3px 15px;
      background: rgba(63, 85, 114, 0.1);
      border-radius: 10px;
    }

    & .author {
      text-align: right;
      margin-top: 15px;

      & .name,
      .time {
        color: lightblue;
      }
    }
  }
}
