.Rankings {
  margin: 20px;
  padding: 15px;
  background: rgba(63, 85, 114, 0.1);
  border-radius: 5px;

  & table {
    width: 100%;
    border-collapse: collapse;

    & thead tr {
      background: none;
    }

    & tbody tr:nth-of-type(odd) {
      background: rgba(63, 85, 114, 0.1);
    }

    & th,
    & td {
      padding: 5px 0;
      text-align: center;

      & .guild-name {
        display: flex;
        align-items: center;

        & .guild {
          flex: 1;
          text-align: right;
          padding-right: 5px;
        }

        & .name {
          flex: 1;
          text-align: left;

          & a {
            color: goldenrod;
          }

          &:after {
            display: inline-block;
            content: '';
            width: 4px;
            height: 4px;
            margin-left: 5px;
            border-radius: 4px;
          }

          &.online:after {
            background: green;
          }

          &.offline:after {
            background: red;
          }
        }
      }

      & a.down-link {
        display: inline-block;
        padding: 5px 15px;
        background: linear-gradient(to bottom right, #434141, #2a2929);
        border: 1px solid #7c7a7a;
        border-radius: 3px;
        color: white;
      }
    }
  }
}
