.Register {
  width: 400px;
  margin: 20px auto;
  padding: 15px;
  background: rgba(63, 85, 114, 0.1);
  border-radius: 5px;

  & .row {
    padding: 10px;
    display: flex;

    &.center {
      justify-content: center;
    }

    &:first-of-type {
      padding: 5px 10px 15px 10px;
    }

    &:last-of-type {
      padding: 15px 10px 5px 10px;
    }

    & .title {
      padding: 10px;
      background: rgba(0, 0, 0, 0.2);
      text-align: center;
      flex: 1;
      margin-right: 10px;
    }

    & .field {
      flex: 1;
    }
  }
}
