.Stats {
  margin: 20px;
  padding: 15px;
  background: rgba(63, 85, 114, 0.1);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);

  .content {
    display: flex;
    justify-content: center;

    .no-data {
      text-align: center;
      padding-bottom: 10px;
    }

    .shadow {
      background: rgba(63, 85, 114, 0.1);
      border-radius: 4px;
      padding: 5px 10px;
      display: inline-block;
      height: 25px;

      &.added {
        color: goldenrod;
      }
    }

    input {
      height: 25px;
    }

    .main {
      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;

      .Table {
        background: rgba(0, 0, 0, 0.1);
      }

      .char-list {
        display: grid;
        grid-template-rows: 50px 1fr;
        width: calc(100% - 15px);
        background: rgba(0, 0, 0, 0.1);

        .select {
          display: flex;
          align-items: center;
          justify-content: center;

          select {
            width: calc(100% - 30px);
            height: 30px;
          }
        }

        .text {
          font-size: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .char-preview {
          padding: 0 15px 15px 15px;

          td {
            width: 50%;
            padding: 5px;
          }
        }
      }

      .stats-adder {
        display: grid;
        grid-template-rows: 50px 1fr auto;
        width: calc(100% - 15px);
        background: rgba(0, 0, 0, 0.1);

        .points-left {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .stats {
          padding: 0 15px 15px 15px;
        }

        .save-button {
          display: flex;
          justify-content: center;
          padding-bottom: 15px;
        }

        td {
          width: 50%;
          padding: 5px;
        }
      }
    }
  }

  .info {
    .title {
      font-size: 15px;
      margin-bottom: 10px;
      text-align: center;
    }

    margin-top: 15px;
    padding: 10px 0 10px 0;
    background: rgba(0, 0, 0, 0.1);
  }
}
