.Options {
  .row {
    margin: 10px 0;
    text-align: center;

    &.name {
      font-size: 15px;
      padding: 2px 7px;
    }

    &.dur {
      margin: -4px 0 20px 0;
      font-size: 12px;
    }

    &.equipped {
      background: rgb(129, 5, 5);
      padding: 2px 7px;
    }

    &.pink {
      color: rgb(184, 129, 183);
    }

    &.harmony {
      color: goldenrod;
    }

    &.skill {
      margin-bottom: -10px;
    }

    &.skill,
    &.luck,
    &.options,
    &.excellent,
    &.ancient {
      color: rgb(151, 174, 208);

      .head {
        color: goldenrod;
        margin-bottom: 10px;
      }
    }

    &:first-of-type {
      margin: 0 0 10px 0;
    }

    &:last-of-type {
      margin: 10px 0 0 0;
    }
  }
}
