.Resource {
  position: relative;
  float: left;
  background-color: rgba(0, 0, 0, 0.308);
  border-radius: 3px;
  transition: 0.2s ease-in-out;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url('../../../images/main/pointer.cur'), pointer;

  & > img {
    max-width: 80%;
    max-height: 80%;
    cursor: url('../../../images/main/pointer.cur'), pointer;
  }

  & > span {
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.342);
    color: white;
    border-radius: 5px;
    padding: 0 2px;
    cursor: url('../../../images/main/pointer.cur'), pointer;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.424);
    transform: scale(1.2);
  }
}
