.Button {
  cursor: url('../../images/main/pointer.cur'), pointer;
  background: url(../../images/partials/button.jpg) no-repeat center
    center/cover;
  border: none;
  outline: none;
  color: #c3eaee;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 0 15px;
  display: inline-block;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
  height: 30px;
  line-height: 30px;

  &:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
    text-decoration: none;
  }

  .loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      position: relative;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      overflow: hidden;
      background: rgba(0, 0, 0, 0.2);

      .fill {
        position: absolute;
        background: rgba(9, 73, 116, 0.712);
        width: 100%;
        height: 100%;
        animation: loader 1.5s ease-in-out forwards infinite;
      }

      @keyframes loader {
        0% {
          width: 0%;
          left: 0;
        }
        50% {
          width: 100%;
          left: 0;
        }
        100% {
          left: 100%;
        }
      }
    }
  }
}
