table.Table {
  width: 100%;
  border-collapse: collapse;

  thead tr {
    background: rgba(0, 0, 0, 0.2);

    th {
      padding: 10px;
    }
  }

  tbody {
    tr {
      background: rgba(0, 0, 0, 0.15);
    }

    tr:nth-of-type(odd) {
      background: rgba(0, 0, 0, 0.05);
    }

    tr:hover {
      background: rgba(0, 0, 0, 0.25);
    }
  }

  th,
  td {
    padding: 10px;
    text-align: center;

    a.down-link {
      display: inline-block;
      padding: 5px 15px;
      background: linear-gradient(to bottom right, #434141, #2a2929);
      border: 1px solid #7c7a7a;
      border-radius: 3px;
      color: white;
    }

    &:last-of-type {
      padding: 5px;
    }
  }
}
