.__react_component_tooltip {
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  display: none;
  opacity: 1;

  &.type-dark {
    background-color: rgb(0, 0, 0);

    &.show {
      display: inherit;
    }

    &.place-left:after {
      border-left-color: rgb(0, 0, 0);
      border-left-width: 10px;
      border-top-width: 10px;
      border-bottom-width: 10px;
      margin-top: -10px;
      right: -10px;
    }

    &.place-top:after {
      border-top-color: rgb(0, 0, 0);
      border-top-width: 10px;
      border-left-width: 10px;
      border-right-width: 10px;
      margin-left: -10px;
      bottom: -10px;
    }
  }
}
