.Login {
  background: url(../../../images/partials/login-block-bg.jpg) bottom no-repeat;
  padding: 20px;

  .title {
    display: flex;
    justify-content: space-between;

    a {
      color: #6fa5ff;
    }
  }

  form.fields {
    margin: 20px 0 0 0;
    display: grid;
    flex-direction: column;
    gap: 10px;

    input {
      padding: 7px 7px 7px 50px;
      font-size: 14px;
      background-repeat: no-repeat;
      background-position: left;
      height: 36px;

      &.user {
        background-image: url('../../../images/partials/login-icon.png');
      }

      &.pass {
        background-image: url('../../../images/partials/password-icon.png');
      }
    }

    .group {
      display: flex;
      align-self: center;
      justify-content: space-between;

      a {
        align-self: center;
      }

      button {
        width: 110px;
      }
    }
  }
}
