a.menu-link {
  display: block;
  margin: 8px 0 0 20px;
  position: relative;
  font-size: 14px;

  &:first-of-type {
    margin: 3px 0 0 20px;
  }

  &:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 12px;
    margin: 4px 0 0 -15px;
    background: url('../../../images/partials/li.png') no-repeat center center;
  }
}
