table.TopGuilds {
  width: 100%;
  border-collapse: collapse;

  thead {
    font-size: 12px;
    text-align: left;

    th {
      padding: 10px;
      text-align: center;
      background: rgba(0, 0, 0, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.04);

      &:first-of-type {
        text-align: left;
      }

      &:nth-of-type(2) {
        text-align: left;
      }

      &:last-of-type {
        text-align: right;
      }
    }
  }

  tbody {
    tr {
      transition: 0.1s ease-in-out;

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }
    }

    td {
      padding: 10px;
      text-align: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.04);

      &:first-of-type {
        text-align: left;
      }

      &:nth-of-type(2) {
        text-align: left;
      }

      &:last-of-type {
        text-align: right;
        padding: 2px;
      }
    }
  }
}
