.Login {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #0059ff, #0c41b3);
  display: grid;
  grid-template-columns: 2fr 300px 12fr;

  & .Form-Container {
    background: #ffffff;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr auto 1fr;

    & .title {
      text-align: center;
      font-size: 26px;
    }

    & .Form {
      display: grid;
      gap: 20px;
      grid-template-rows: 1fr 1fr 1fr;
    }

    & .copyright {
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }

  & .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      width: 30vw;
      transform: scaleX(-1);
    }
  }
}
