.CharacterName {
  .guild {
    padding-right: 5px;
  }

  .name {
    display: inline-flex;
    align-items: center;

    a {
      color: goldenrod;
    }

    span {
      display: inline-block;
      content: '';
      width: 4px;
      height: 4px;
      margin-left: 5px;
      border-radius: 4px;

      &.online {
        background: green;
      }

      &.offline {
        background: red;
      }
    }
  }
}
