.CharacterName {
  display: flex;
  align-items: center;

  & .guild {
    flex: 1;
    text-align: right;
    padding-right: 5px;
  }

  & .name {
    flex: 1;
    text-align: left;

    & a {
      color: goldenrod;
    }

    &:after {
      display: inline-block;
      content: '';
      width: 4px;
      height: 4px;
      margin-left: 5px;
      border-radius: 4px;
    }

    &.online:after {
      background: green;
    }

    &.offline:after {
      background: red;
    }
  }
}
