.ItemsList {
  background: rgba(0, 0, 0, 0.15);
  padding: 15px;
  margin-top: 15px;

  &:first-of-type {
    margin: 0;
  }

  .title {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .group {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 10px 0;

    display: inline-flex;
    align-items: center;

    .add-icon {
      width: 15px;
      height: 15px;
      transition: 0.2s ease-in-out;
      margin-left: 5px;

      &:hover {
        color: #88b0d4;
      }
    }
  }

  .item-name {
    width: 100px;
  }

  .item-xy {
    width: 30px;

    &:first-of-type {
      margin-right: 4px;
    }
  }

  .item-id {
    width: 25px;
    padding: 5px;
    text-align: center;
  }

  .item-class {
    display: inline-flex;
    align-items: center;
    margin: 2px;
    background: rgba(0, 0, 0, 0.1);
  }

  input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type='number'] {
      -moz-appearance: textfield;
    }
  }

  select {
    width: 75px;
  }

  .controls-cage {
    position: relative;

    ._controls {
      background: rgba(0, 0, 0, 0.1);
      padding: 5px;
      position: absolute;
      right: 100%;
      top: 0;
      opacity: 0;
      transition: 0.2s ease-in-out;

      .delete {
        width: 15px;
        height: 15px;
        transition: 0.2s ease-in-out;
        color: #ce5353;

        &:hover {
          color: #cc2e2e;
        }
      }
    }
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;

    tr {
      background: rgba(63, 85, 114, 0.1);

      &:hover {
        ._controls {
          opacity: 1;
        }
      }

      // &:nth-child(2n + 0) {
      //   background: none;
      // }
    }

    td,
    th {
      padding: 5px;
    }
  }
}
