.ItemsList {
  background: rgba(0, 0, 0, 0.15);
  padding: 15px;
  margin-top: 15px;

  &:first-of-type {
    margin: 0;
  }

  .title {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .itemSelector {
      display: flex;
      align-items: center;

      select {
        margin-left: 10px;
        width: 150px;
      }
    }
  }

  .group {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 10px 0;

    display: inline-flex;
    align-items: center;

    .add-icon {
      width: 15px;
      height: 15px;
      transition: 0.2s ease-in-out;
      margin-left: 5px;

      &:hover {
        color: #88b0d4;
      }
    }
  }

  input[type='number'] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    -moz-appearance: textfield;
  }

  .item-fields {
    position: relative;

    .delete-item {
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 20px;
      color: #ce5353;
      transition: 0.2s ease-in-out;

      &:hover {
        color: #cc2e2e;
      }
    }

    .name {
      font-size: 16px;
      text-align: center;
      width: 250px;
      margin-bottom: 15px;
    }

    .addLevel {
      width: 15px;
      height: 15px;
      transition: 0.2s ease-in-out;
      margin-left: 10px;

      &:hover {
        color: #88b0d4;
      }
    }

    .itemLevels {
      position: relative;

      .removeLevel {
        position: absolute;
        right: 0;
        top: calc(50% - 7px);
        width: 15px;
        height: 15px;
        color: #ce5353;
        transition: 0.2s ease-in-out;

        &:hover {
          color: #cc2e2e;
        }
      }
    }

    table.section {
      width: 100%;
      border-collapse: collapse;

      select,
      input[type='text'],
      input[type='number'] {
        width: 150px;
      }

      caption {
        font-size: 14px;
        padding: 5px;
        margin: 20px 0 5px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.04);
        text-align: left;
        vertical-align: middle;
      }

      td {
        padding: 5px;
        text-align: left;

        &:first-of-type {
          width: 150px;
          text-align: center;
        }
      }
    }
  }
}
