.EventTimers {
  & .event {
    margin: 10px 0;

    &:last-of-type {
      margin: 0;
    }

    & .event-title {
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      margin-bottom: 6px;
      color: #96a3c0;
    }

    & .event-desc {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
    }
  }
}
