body {
  margin: 0;
  width: 100%;
  background: #121a25;
  font-size: 12px;
  color: #61738e;

  .react-notification-root {
    top: 0;
    left: 0;
  }

  #root {
    max-width: 1920px;
    min-width: 1280px;
    background: url('../images/layout/lightning.gif') no-repeat top 170px center,
      url('../images/layout/top-bg.jpg') no-repeat top center,
      url('../images/layout/bottom-bg.jpg') no-repeat bottom center;

    * {
      box-sizing: border-box;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      cursor: url('../images/main/default.cur'), auto;
    }

    a {
      transition: all 0.3s ease;
      color: #c8ddf1;
      text-decoration: none;
      cursor: url('../images/main/pointer.cur'), pointer;
    }

    a:hover {
      -webkit-filter: brightness(120%);
      filter: brightness(120%);
      text-decoration: none;
    }

    input,
    select,
    button {
      background-color: #131f2d;
      border: 1px solid #2c3545;
      color: #7d8a9f;
      padding: 5px 10px;
      font-size: 12px;
      border-radius: 3px;
      transition: all 0.5s ease;
      outline: none;

      &:hover,
      &:focus {
        border: 1px solid #3e4e69;
      }
    }

    button,
    button span,
    button font {
      cursor: url('../images/main/pointer.cur'), pointer;
    }

    sup {
      color: rgb(185, 21, 21);
    }

    .App {
      width: 1200px;
      margin: 0 auto;

      span.highlight {
        color: #c8ddf1;
      }

      // Layout
      @import 'assets/styles/layout/Navbar.scss';
      @import 'assets/styles/layout/Header.scss';
      @import 'assets/styles/layout/Footer.scss';

      // Partials
      @import 'assets/styles/partials/Loader.scss';
      @import 'assets/styles/partials/Character/Name.scss';

      // Reusables
      @import 'assets/styles/reusables/Input.scss';
      @import 'assets/styles/reusables/Tooltip.scss';
      @import 'assets/styles/reusables/Form.scss';
      @import 'assets/styles/reusables/user/Warehouse.scss';
      @import 'assets/styles/reusables/Button.scss';
      @import 'assets/styles/reusables/Table.scss';
      @import 'assets/styles/reusables/NoData.scss';
      @import 'assets/styles/reusables/Modal.scss';

      & .Container {
        min-height: 1050px;
        display: flex;
        position: relative;

        // Layout
        @import 'assets/styles/layout/LeftSidebar.scss';
        @import 'assets/styles/layout/MainContent.scss';
        @import 'assets/styles/layout/RightSidebar.scss';

        // Partials
        @import 'assets/styles/partials/Guild/Mark.scss';
        @import 'assets/styles/partials/particles/Resource.scss';
        @import 'assets/styles/partials/particles/Items.scss';

        &:before {
          content: '';
          background: url('../images/layout/left-container-icon.png') no-repeat;
          left: -35px;
          top: -34px;
          width: 74px;
          height: 73px;
          position: absolute;
          z-index: 1;
        }

        &:after {
          content: '';
          background: url('../images/layout/right-container-icon.png') no-repeat;
          right: -35px;
          top: -34px;
          width: 74px;
          height: 73px;
          position: absolute;
          z-index: 1;
        }
      }
    }
  }
}
